@import url(https://fonts.googleapis.com/css?family=Raleway:100);
/* line 47, ../components/sass/_base.scss */
* {
  color: white;
  font-size: 100%;
  font-family: "Calibri Light", "Gill Sans Light", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 55, ../components/sass/_base.scss */
a {
  text-decoration: none;
  display: inline-block;
}

/* line 7, ../components/sass/styles.scss */
aside {
  background-color: #555;
  padding-top: 1rem;
}

/* line 8, ../components/sass/styles.scss */
header {
  background-color: #151515;
}

/* line 9, ../components/sass/styles.scss */
.smHide {
  display: none;
}

/* line 10, ../components/sass/styles.scss */
i {
  margin: 0rem 1rem;
  color: GreenYellow;
  padding-top: 1.2rem;
}

/* line 11, ../components/sass/styles.scss */
.nav {
  list-style-type: none;
  text-align: justify;
}

/* line 14, ../components/sass/styles.scss */
li {
  font-family: "Calibri Light", "Gill Sans Light", Arial, sans-serif;
  display: inline;
}

/* line 17, ../components/sass/styles.scss */
ul a {
  padding: 0.3rem;
  color: GreenYellow;
  opacity: .85;
  font-size: 1.3rem;
}

/* line 18, ../components/sass/styles.scss */
ul a:hover {
  color: gold;
  opacity: .95;
  text-shadow: 0 0 .3rem gold;
}

/* line 19, ../components/sass/styles.scss */
.stretch {
  display: inline-block;
  width: 100%;
}

/* line 22, ../components/sass/styles.scss */
.navBar {
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.11/sass/susy/output/support/_clearfix.scss */
.navBar:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 24, ../components/sass/styles.scss */
.navBar .nav {
  width: 100%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
}

/* line 26, ../components/sass/styles.scss */
#sec1 {
  background: linear-gradient(#161616 0%, #222222 1.2%, #222222 98.8%, #161616 100%);
}

/* line 27, ../components/sass/styles.scss */
.banner {
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.11/sass/susy/output/support/_clearfix.scss */
.banner:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 28, ../components/sass/styles.scss */
#iBanner1 {
  max-width: 100%;
  padding: 1.5%;
}

/* line 29, ../components/sass/styles.scss */
.btn {
  position: absolute;
  top: 10%;
  left: 2.8%;
  text-align: center;
}

/* line 34, ../components/sass/styles.scss */
.button {
  background-color: #5cb85c;
  font-size: 1rem;
  border: 1px black;
  border-radius: .3rem;
  border: 1px #4cae4c solid;
  padding: .35rem .38rem;
  margin-top: 1rem;
  box-shadow: 0px 0px 10px black;
  width: 6rem;
}

/* line 44, ../components/sass/styles.scss */
.button:hover {
  background: #4cae4c;
}

/* line 45, ../components/sass/styles.scss */
.banner p {
  font-size: 2.5rem;
  padding-bottom: .5rem;
  font-family: "Raleway", "Calibri Light", "Gill Sans Light", Arial, sans-serif;
}

/* line 46, ../components/sass/styles.scss */
#sec2 {
  background-color: #ccc;
}

/* line 47, ../components/sass/styles.scss */
.portfolio p {
  font-size: 1.2rem;
  margin-top: 10%;
  margin-left: 15%;
  color: #151515;
}

/* line 52, ../components/sass/styles.scss */
.portfolio img {
  width: 38%;
  margin-right: .5rem;
  border-radius: 50%;
  max-width: 22rem;
  border: 1px #grey solid;
  box-shadow: 0px 0px 10px grey;
  float: left;
}

/* line 60, ../components/sass/styles.scss */
.portfolio {
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.11/sass/susy/output/support/_clearfix.scss */
.portfolio:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 62, ../components/sass/styles.scss */
.portfolio div {
  width: 100%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
}

/* line 63, ../components/sass/styles.scss */
input {
  color: black;
}

/* line 64, ../components/sass/styles.scss */
form {
  font-size: 1.5rem;
}
#messagesDiv{height: 200px;width: 200px;}
/* line 65, ../components/sass/styles.scss */
label {
  display: inline-block;
  width: 4rem;
}

/* line 68, ../components/sass/styles.scss */
.signup div {
  margin-top: .5rem;
}

/* line 69, ../components/sass/styles.scss */
.signup {
  text-align: center;
  padding-right: 1rem;
}

/* line 70, ../components/sass/styles.scss */
.btnSignUp {
  font-size: 1.2rem;
  box-shadow: none;
  display: block;
  margin: 1rem auto;
}

/* line 71, ../components/sass/styles.scss */
.chet p {
  font-size: 2rem;
}

@media (min-width: 625px) {
  /* line 73, ../components/sass/styles.scss */
  .btn {
    top: 13%;
  }

  /* line 74, ../components/sass/styles.scss */
  .button {
    font-size: 1.2rem;
    border-radius: .35rem;
    padding: .4rem .55rem;
    width: 7rem;
  }
}
@media (min-width: 825px) {
  /* line 80, ../components/sass/styles.scss */
  .smHide {
    display: inline;
  }

  /* line 81, ../components/sass/styles.scss */
  .smShow {
    display: none;
  }

  /* line 82, ../components/sass/styles.scss */
  .nav {
    margin-top: 1rem;
  }

  /* line 83, ../components/sass/styles.scss */
  .banner {
    max-width: 91%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.11/sass/susy/output/support/_clearfix.scss */
  .banner:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 84, ../components/sass/styles.scss */
  .navBar {
    max-width: 91%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.11/sass/susy/output/support/_clearfix.scss */
  .navBar:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 86, ../components/sass/styles.scss */
  .navBar .logo {
    width: 33.33333%;
    float: left;
    padding-left: 1.04167%;
    padding-right: 1.04167%;
  }
  /* line 88, ../components/sass/styles.scss */
  .navBar .nav {
    width: 66.66667%;
    float: right;
    padding-left: 1.04167%;
    padding-right: 1.04167%;
  }

  /* line 90, ../components/sass/styles.scss */
  .btn {
    top: 18%;
    left: 0;
  }

  /* line 92, ../components/sass/styles.scss */
  .button {
    font-size: 1.35rem;
    border-radius: .38rem;
    padding: .45rem .6rem;
    margin-top: 1.2rem;
    width: 8.1rem;
  }

  /* line 97, ../components/sass/styles.scss */
  .portfolio {
    max-width: 91%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.11/sass/susy/output/support/_clearfix.scss */
  .portfolio:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 99, ../components/sass/styles.scss */
  .portfolio hr {
    display: none;
  }
  /* line 100, ../components/sass/styles.scss */
  .portfolio div {
    padding: 0;
    text-align: center;
  }
  /* line 101, ../components/sass/styles.scss */
  .portfolio div p, .portfolio div img {
    padding: 0;
    margin: 0;
  }
  /* line 103, ../components/sass/styles.scss */
  .portfolio img {
    width: 100%;
    float: none;
  }
  /* line 104, ../components/sass/styles.scss */
  .portfolio .p1 {
    width: 33.33333%;
    float: left;
    padding-left: 1.04167%;
    padding-right: 1.04167%;
  }
  /* line 106, ../components/sass/styles.scss */
  .portfolio .p2 {
    width: 33.33333%;
    float: left;
    padding-left: 1.04167%;
    padding-right: 1.04167%;
  }
  /* line 108, ../components/sass/styles.scss */
  .portfolio .p3 {
    width: 33.33333%;
    float: right;
    padding-left: 1.04167%;
    padding-right: 1.04167%;
  }
}
@media (min-width: 1075px) {
  /* line 113, ../components/sass/styles.scss */
  .banner {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.11/sass/susy/output/support/_clearfix.scss */
  .banner:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 114, ../components/sass/styles.scss */
  .navBar {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.11/sass/susy/output/support/_clearfix.scss */
  .navBar:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 116, ../components/sass/styles.scss */
  .navBar .logo {
    width: 41.66667%;
    float: left;
    padding-left: 1.04167%;
    padding-right: 1.04167%;
  }
  /* line 118, ../components/sass/styles.scss */
  .navBar .nav {
    width: 58.33333%;
    float: right;
    padding-left: 1.04167%;
    padding-right: 1.04167%;
  }

  /* line 120, ../components/sass/styles.scss */
  .btn {
    top: 14.70588%;
    left: 0;
  }

  /* line 122, ../components/sass/styles.scss */
  .btn {
    top: 22%;
    left: 0;
  }

  /* line 124, ../components/sass/styles.scss */
  .banner p {
    font-size: 3.35rem;
  }

  /* line 125, ../components/sass/styles.scss */
  .button {
    font-size: 1.38rem;
    border-radius: .38rem;
    padding: .46rem .6rem;
    margin-top: 1.5rem;
    width: 8.5rem;
  }
}
@media (min-width: 1375px) {
  /* line 133, ../components/sass/styles.scss */
  .banner {
    max-width: 78%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.11/sass/susy/output/support/_clearfix.scss */
  .banner:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 134, ../components/sass/styles.scss */
  .navBar {
    max-width: 78%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.11/sass/susy/output/support/_clearfix.scss */
  .navBar:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 136, ../components/sass/styles.scss */
  .navBar .logo {
    width: 54.16667%;
    float: left;
    padding-left: 1.04167%;
    padding-right: 1.04167%;
  }
  /* line 137, ../components/sass/styles.scss */
  .navBar .nav {
    width: 45.83333%;
    float: right;
    padding-left: 1.04167%;
    padding-right: 1.04167%;
  }

  /* line 138, ../components/sass/styles.scss */
  p {
    font-size: 3.6rem;
  }
}
@media (min-width: 1700px) {
  /* line 141, ../components/sass/styles.scss */
  .banner {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.11/sass/susy/output/support/_clearfix.scss */
  .banner:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 142, ../components/sass/styles.scss */
  .navBar {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.11/sass/susy/output/support/_clearfix.scss */
  .navBar:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 144, ../components/sass/styles.scss */
  .navBar .logo {
    width: 54.16667%;
    float: left;
    padding-left: 1.04167%;
    padding-right: 1.04167%;
  }
  /* line 145, ../components/sass/styles.scss */
  .navBar .nav {
    width: 45.83333%;
    float: right;
    padding-left: 1.04167%;
    padding-right: 1.04167%;
  }

  /* line 146, ../components/sass/styles.scss */
  .banner p {
    font-size: 3.95rem;
  }
}
