@import url(https://fonts.googleapis.com/css?family=Cambay:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:700);
h2{
	margin: 0 0 .5em 0;
	font-size: 1.2em;
	font-weight: 700;
	line-height: 1.1em;
}
h3{
	margin: 0 0 .5em 0;
	font-size: 1.5em;
	font-weight: 700;
}
h4{
	margin: 0 0 1.5em 0;
	font-size: 1em;
	font-weight: 700;
}
p{
	margin: 0 0 1em 0;
}
body{
	font-family: 'Cambay', Helvetica, sans-serif; 
	font-size: 18px; 
	font-weight: 400; 
	color: black; 
	margin: 0 auto;
}
.headerCtn{
	background-color: #282828;
}
#Git{color: #ff251a;}
#Hub{color: #ffba1a;}
h1{
	margin: 0 0 30px 0;
	font-size: 3.55em;
	font-weight: 700;
	font-family: 'Comfortaa', 'Cambay', Helvetica, sans-serif;
	color: white;
	text-shadow: 0 0 3px black;
	letter-spacing: .1em;
}
.h1button{
	position: absolute;
	top: 100px;
	left: 450px;
	-webkit-transition: all .3s;
	transition: all .3s;
	font-size: 1.2em;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 4px 12px 2px 10px;
	height:35px;
	border-radius: 3px;
	background-color: rgba(255,255,255,.15);
}
.h1{
	opacity: .7;
	position: absolute;
	width: 55%;
	top: 160px;
	left: 38%;
	-webkit-transition: opacity .4s, font-size .2s, letter-spacing .2s;
	transition: opacity .4s, font-size .2s, letter-spacing .2s;
}
.h1:hover > .h1button{
-webkit-transform: translate(0px, -75px);
        transform: translate(0px, -75px);
        background-color: rgba(255,255,255,.4);
}
.h1:hover{
	opacity: .85;
	font-size: 110%;
	letter-spacing: 120%;
}
.sectionCtn{
	height: 330px;
	background: -webkit-linear-gradient(top, #777 0%, #bbb 2.5%, #bbb 98.5%, #aaa 100%);
	background: linear-gradient(to bottom, #777 0%, #bbb 2.5%, #bbb 98.5%, #aaa 100%);
}
.sectionCtn2{
	width: 1200px;
	margin: 0 auto;
}
.main aside{
	padding: 0;
	width: 50%;
	float: left;
	text-align: center;
	position: relative;
}

.main a{
	position:absolute; 
	display: block; 
	text-decoration: none; 
	width: 600px;
	height: 50px;
	padding-top:280px;
} 
.max{
	background: url(../images/3dsMaxLogo.jpg) no-repeat center top;
	-webkit-transition: all .3s;
	transition:all .3s;
	color: rgba(0,0,0,.7);
	text-shadow: 0 0 1px rgba(30,30,30,.7);
}
.max:hover{background: url(../images/banner_01.jpg) no-repeat center top; color: rgba(255,255,255,0);text-shadow: 0 0 1px rgba(230,230,230,0);}
.photography{
	background: url(../images/shutterLogo.jpg) no-repeat center top;
	-webkit-transition: all .3s;
	transition:all .3s;
	color: rgba(0,0,0,.7);
	text-shadow: 0 0 1px rgba(30,30,30,.7);
}
.photography:hover{background: url(../images/hoverPhotography.jpg) no-repeat center top;color: rgba(255,255,255,0);text-shadow: 0 0 1px rgba(230,230,230,0);}
@-webkit-keyframes loop{
	0% {
		background-image: url(../images/banner_01.jpg);
	}
	30% {
		background-image: url(../images/banner_01.jpg);
	}
	46% {
		background-image: url(../images/banner_02.jpg);
	}
	75% {
		background-image: url(../images/banner_02.jpg);
	}
	91% {
		background-image: url(../images/banner_03.jpg);
	}
	100% {
		background-image: url(../images/banner_03.jpg);
	}
}

@keyframes loop{
	0% {
		background-image: url(../images/banner_01.jpg);
	}
	26% {
		background-image: url(../images/banner_01.jpg);
	}
	42% {
		background-image: url(../images/banner_02.jpg);
	}
	69% {
		background-image: url(../images/banner_02.jpg);
	}
	85% {
		background-image: url(../images/banner_03.jpg);
	}
	100% {
		background-image: url(../images/banner_03.jpg);
	}
}
@keyframes gradient{
	0%{
		background: linear-gradient(gr)
	}
}

/*Featured Content Background*/
header {	
	height: 375px;
	position: relative;
	background: url(../images/banner_01.jpg) no-repeat center bottom;
	width: 1200px;
	margin: 0 auto;
	position: relative;
	-webkit-animation-name: loop;

	        animation-name: loop;
	-webkit-animation-duration: 15s;
	        animation-duration: 15s;
	iteration-count: 2;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: ease-out;
	        animation-timing-function: ease-out;
   -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;
}
.logo {
	position: absolute;
	display: block;
	width: 110px;
	height: 89px;
	background: url(../images/MyLogo.png) no-repeat 0 0;
	top: 15px;
	left: 25px;
	opacity: .86;
	-webkit-transition: opacity .35s;
	transition: opacity .35s;
}
.logo:hover {opacity: 1;}
.logo span {display: none;}
.shareCtn{background: grey;height: 260px;}
.shareCtn2{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.share{
	opacity: 0;
	color: rgba(0,0,0,1);
	position: absolute;
	transform: translate(-50%,-50%) scale(1,.05);
	height: 20px;
	width: 234px;
	left: 50%;
	transform-origin: center center;
	background: rgba(255,255,255,.7);
	padding: 5px 1px 1px 3px;
	border-radius: 10px;
	text-shadow: 0 0 1px white, 0 0 0 black, 0 0 1px white;
	transition: all .3s;
}

.shareCtn:hover > .shareCtn2 > .share{
	transform: translate(-50%,-50%) scale(1,1);
	opacity: .85;
	color: rgba(0,0,0,.5);
}

.toolMax{background: url(../images/toolMax.jpg);left:0px;}
.toolPs{background: url(../images/toolPs.jpg) no-repeat -120px 0;left:240px;}
.toolSLT{background: url(../images/toolSLT.jpg) no-repeat -10px 0;left:480px;}
.toolGH{background: url(../images/toolGH.jpg);left:720px;}
.toolGF{background: url(../images/toolGF.jpg) no-repeat -95px 0;left:960px;}
.shareCtnA a{
	position: absolute;
	display: block;
	width: 240px;
	height: 260px;
	float: left;
	transition:all .3s;
}
.toolMax:hover {width: 420px;}
.toolMax:hover ~.toolPs{left: 420px;}
.toolPs:hover {
	width: 420px;
	left: 150px;
	background: url(../images/toolPs.jpg) no-repeat 0 0;
}
.toolPs:hover ~.toolSLT{left: 570px;}
.toolSLT:hover {
	width: 420px;
	left: 390px;
	background: url(../images/toolSLT.jpg) no-repeat 0 0;
}
.toolSLT:hover ~.toolGH{left: 810px;}
.toolGH:hover {width: 420px;left: 630px;}
.toolGH:hover ~.toolGF{left: 1050px;width: 150px;}
.toolGF:hover {
	width: 420px;
	left: 780px;
	background: url(../images/toolGF.jpg) no-repeat 0 0;
}
.shareCtnA span{display: none;}