@charset "utf-8";
/*header{
	height: 330px;
	background: #282828 url(images/banner_03.jpg) no-repeat center bottom;
	position: relative;
}*/
.01{
	display: block;
  margin-left: auto;
  margin-right: auto;
	
}

