*{margin: 0;font-size:5rem;}
img{width: 100%;margin-top: 100px;padding-top: 0;}
header{
	height: 100px;
	background-color: #111;
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	margin: 0;
	padding: 0;
	transition: all .2s;
}
#a{float: left;}
#b{float: right;}
div{background-color: #888;display: inline-block;}
/*.clearfix{overflow: auto;}*/
ul{height: 160px;width:450px;overflow-Y: scroll;}
